<html>

<head>
</head>
<script>

var myscan;
var myflag = 0;

function doScan()
{
   var xhr;
   var params = "0";
   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/checkscan/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
           if (xhr.responseText == 'G') {
               if (myflag == 0) {
                   myscan = window.setInterval(getNode, 1000);
                   myflag = 1;
               }
           }
           if (xhr.responseText == 'S') {
               window.clearInterval(myscan);
               myflag = 0;
           }
       }
   }
}


function getNode(address, name)
{
   var xhr;
   var params = "address="+address+"&name="+name;
   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/refreshnode/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
           var element = document.getElementById('textblock');
           element.innerHTML = xhr.responseText;
       }
   doScan();
   }

}

function setFunction(masknum)
{
   var mn = 'mask' + masknum;
   var ck = document.getElementById(mn).checked;
   if(ck){
      value = 1;
   }
   else {
      value = 0;
   }
      
   var address    = document.getElementById('address').value;

   var xhr;
   var params = "address="+address+"&masknum="+masknum+"&value="+value;

   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/setmask/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
       }
   }

}

function setNotch(notchNum)
{
   var enabled    = document.getElementById("enablenotch").checked;
   var address    = document.getElementById('address').value;
   var myval      = 'notchlow'+notchNum;
   var notchlow   = document.getElementById(myval);
   
   myval          = 'notchhigh'+notchNum;
   var notchhigh  = document.getElementById(myval);
   
   myval          = 'notchoutput'+notchNum;
   var notchvalue = document.getElementById(myval);
   
   var xhr;
   var params = "address="+address+"&notchnum="+notchNum;
   params = params +"&enabled="+enabled;
   params = params +"&notchlow="+notchlow.value;
   params = params +"&notchhigh="+notchhigh.value+"&notchvalue="+notchvalue.value;
   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/setnotch/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
       }
   }
}

function getFunctionMask()
{
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", '/functionmask/');

    var macaddr = document.getElementById('address').value; 

    var hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "address");
    hf.setAttribute("value", macaddr);
    form.appendChild(hf);

    document.body.appendChild(form);
    form.submit();
}


function getNotches(id, name)
{
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", '/notchtable/');
                                                 
    var hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "address");
    hf.setAttribute("value", id);
    form.appendChild(hf);

    hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "name");
    hf.setAttribute("value", name);
    form.appendChild(hf);

    document.body.appendChild(form);
    form.submit();
}

function setHome()
{
   window.location.href = "/";
}

</script>
<style>
body {
  font-family:Arial;
  background-color:#bbbbbb;
}

.myinput {
   text-align:right;
   font-size:18px;
   width:50px;
   height:34px;
   padding-right:4px;
   border-radius:6px;
   margin-bottom:4px;
}

P.pageblock {
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

.theButton {
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid eeeeee;
  height:34px;
  cursor:pointer;
  color:#555555;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:0px 14px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
} 

table.center {
  margin-left: auto;
  margin-right: auto;
}

</style>
<body>

  <div style="text-align:center;border:1px;">

    <div style="font-size:32px;padding-top:20px;">{{ name }}</div>
    <div style="font-size:12px;">{{ address }}</div>                                                             
    <input type="hidden" id="address" value="{{ address }}">
    <input type="hidden" id="name" value="{{ name }}">
    
    <div id="textblock">
              &nbsp;
    </div>
 
 </div>
  
</body>
<script>
window.onload = doScan();
document.body.style.zoom = 1.0;
</script>
</html>
