<html>

<head>
</head>

<script>

var myscan;
var myflag = 0;

function doScan()
{
   var xhr;
   var params = "0";
   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/checkscan/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
           if (xhr.responseText == 'G') {
               if (myflag == 0) {
                   myscan = window.setInterval(getNode, 1000);
                   myflag = 1;
               }
           }
           if (xhr.responseText == 'S') {
               window.clearInterval(myscan);
               myflag = 0;
           }
       }
   }
}


function getNode()
{
   doScan();

   var xhr;
   var params = "0";
   xhr = new XMLHttpRequest();
   xhr.onreadystatechange = handleStateChange;
   xhr.open("POST", '/refreshnode/', true);
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhr.setRequestHeader("Content-length", params.length);
   xhr.setRequestHeader("Connection", "close");
   xhr.send(params);
   function handleStateChange() {
       if (xhr.readyState == 4 &&  xhr.status == 200) {
           var element = document.getElementById('textblock');
           element.innerHTML = xhr.responseText;
       }
   }

}

function setHome()
{
   window.location.href = "/";
}

</script>

<style>

.rcr {
  font-family: Arial;
  border-radius: 25px;
  border: 1px solid black;
  background: lightgray;
  padding: 20px;
  width: 300px;
  height: 400px;
}

</style>


<body>

  <div class=rcr>
    <div style="font-size:24px;text-align:center">{{ name }}</div>
    <div style="font-size:14px;text-align:center">{{ address }}</div>

    <div style="margin:30px;"></div>

    <div id="textblock" style="margin: 0 auto;">
            &nbsp;
    </div>

</body>
<script>
window.onload = getNode();
window.onload = doScan();
</script>
</html>
